@model thatsmyareacode.Models.Zinger

@{
    ViewBag.Title = "Create a Zinger";
}

    <h1 style="font-family:'Bradley Hand ITC'; font:bold; font-size:100px">Create a Zinger</h1>
    <hr />
    <style>
        textarea {
            max-width: 98%;
            max-height: 100%;
            height: 100%;
            width: 100%;
            border-radius: 1em;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #dropdown {
            max-width: 100%;
            max-height: 100%;
            height: 35px;
            width: 100%;
            border-radius: 1em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
        }
    </style>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">


            <div class="col-md-3" >
                @Html.EditorFor(model => model.ZingerImage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Paste image url" } })
                @Html.ValidationMessageFor(model => model.ZingerImage, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.ZingerUserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Choose a Username" } })
                @Html.ValidationMessageFor(model => model.ZingerUserName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2" style="margin-left:60px">
                @Html.DropDownListFor(model => model.Genre, new SelectList(
               new List<Object>{
                   new {value = "Humor", text = "Humor"},
                   new { value = "News" , text = "News" },
                   new { value = "Popular" , text = "Popular" },
                   new { value = "Random" , text = "Random" },
                   new { value = "Romance" , text = "Romance" },
                   new { value = "Sports" , text = "Sports" },
                                      },
               "value",
               "text",
                2))

                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                @*@Html.DropDownList("Genre", new SelectList(GenreLst, "Select a Genre"), new { id = "dropdown" })
            @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-md-2" style="margin-left:20px">
                @Html.DropDownListFor(model => model.AreaCode, new SelectList(

               new List<Object>
               {
                   new {value = "201", text = "201"},
                   new { value = "202" , text = "202" },
                   new { value = "203" , text = "203" },
                   new { value = "204" , text = "204" },
                   new { value = "205" , text = "205" },
                   new { value = "206" , text = "206" },
                   new { value = "207" , text = "207"},
                   new { value = "208" , text = "208" },
                   new { value = "209" , text = "209" },
                   new { value = "210" , text = "210" },
                   new { value = "211" , text = "211" },
                   new { value = "212", text = "212" },
                   new { value = "213", text = "213" },
                   new { value = "214", text = "214" },
                   new { value = "215", text = "215" },
                   new { value = "216", text = "216" },
                   new { value = "217", text = "217" },
                   new { value = "218", text = "218" },
                   new { value = "219", text = "219" },
                   new { value = "224", text = "224" },

                   new { value = "270", text = "270" },

                   new { value = "276", text = "276" },
                   new { value = "278", text = "278" },
                   new { value = "280", text = "280" },
                   new { value = "281", text = "281" },



                   new { value = "502", text = "502" },

                   new { value = "636", text = "636" },
                   new { value = "631", text = "631" },
                   new { value = "630", text = "630" },

                   new { value = "718", text = "718" },

                   new { value = "719", text = "719" },
                   new { value = "720", text = "720" },

                   new { value = "812", text = "812" },

                   new { value = "814", text = "814" },
                   new { value = "815", text = "815" },
                   new { value = "816", text = "816" },
                   new { value = "817", text = "817" },
                   new { value = "818", text = "818" },

                   new { value = "859", text = "859" },

                   new { value = "985", text = "985" },
                   new { value = "989", text = "989" },
                   new { value = "999", text = "999" },

                          "value",
                          "text", 50

                }))

                @*@Html.DropDownList("Areacode", new SelectList(AreacodeLst, "Select an Area Code"), new { id = "dropdown" })*@
                @Html.ValidationMessageFor(model => model.AreaCode, "", new { @class = "text-danger" })
            </div>

        </div>
        
        
       
       <br />
        <br />
        <br />
        <br />
    <div>

        <p style="text-align:center">Say something here!</p>

        <hr />
        <div class="form-horizontal">
            @Html.TextAreaFor(model => model.ZingerMessage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Insert messsage here" } })
            @Html.ValidationMessageFor(model => model.ZingerMessage, "", new { @class = "text-danger" })

            <br />

            @Html.EditorFor(model => model.TimeCreated, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeCreated, "", new { @class = "text-danger" })
        </div>
    </div>
        <br />
        
        
        <div class="form-group">
            <div class=" col-md-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <br />
    }
    <br />
    <div>
        @Html.ActionLink("Go back to Zingers", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
