@model IEnumerable<thatsmyareacode.Models.Zinger>

@{
    ViewBag.Title = "That's My Area Code!";
}

<style>
    .btn {
        background-color: #8000FF;
       
        width: 100px;
    }
</style>

    <!--Add padding above this-->
    <div class="wrapper" style="margin-top:20px">
        <center><img src="/Content/Images/bannerPic.jpg" class="img-responsive" style="border: 12px double #8000FF"> </center>
      </div>
  <hr />


    <div class="row">
        <div class="col-md-2">
            <div class="sidebar-module sidebar-module-inset">
                <div class="well">
                    <center><h3>Genres</h3></center>
                                        @*<button id="genreBtns" class="btn btn-default" onclick="ViewBag.zingerGenre = 'All'">All</button><br />
                    <button id="genreBtns" class="btn btn-default" onclick="ViewBag.zingerGenre = 'Humor'">Humor</button><br />
                    <button id="genreBtns" class="btn btn-default" onclick="zingerGenre" value="News">News</button><br/>
                    <button id="genreBtns" class="btn btn-default">Popular</button><br/>
                    <button id="genreBtns" class="btn btn-default">Random</button><br />
                    <button id="genreBtns" class="btn btn-default">Romance</button><br />
                    <button id="genreBtns" class="btn btn-default">Sports</button><br />*@
                    @Html.ActionLink("All", "Index", "Zingers", new { zingerGenre = "" }, new { @class = "btn" })
                    @Html.ActionLink("Humor", "Index", "Zingers", new { zingerGenre = "Humor" }, new { @class = "btn" })
                    @Html.ActionLink("News", "Index", "Zingers", new { zingerGenre = "News" }, new { @class = "btn" })
                    @Html.ActionLink("Popular", "Index", "Zingers", new { zingerGenre = "Popular" }, new { @class = "btn" })
                    @Html.ActionLink("Random", "Index", "Zingers", new { zingerGenre = "Random" }, new { @class = "btn" })
                    @Html.ActionLink("Romance", "Index", "Zingers", new { zingerGenre = "Romance" }, new { @class = "btn" })
                    @Html.ActionLink("Sports", "Index", "Zingers", new { zingerGenre = "Sports" }, new { @class = "btn" })
                    
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="well" >
                <center>
                    @using (Html.BeginForm())
                    {
                        <p>
                            <div class="row">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#areaCodeModal">Change Area</button>
                                <div class="modal fade" id="areaCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Travelling is Fun...</h4>
                                            </div>
                                            <div class="modal-body">
                                                Area Code: @Html.TextBox("zingerAreaCode")
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" value="Go There!" class="btn btn-success" />
                                                <p>Leave the box blank to see <strong>ALL</strong> area codes.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Genre: @Html.DropDownList("zingerGenre", "All")*@


                                User Name: @Html.TextBox("SearchString")
                                <input type="submit" value="Filter" />


                                <button type="button" class="btn btn-success"> @Html.ActionLink("Create New", "Create")</button>
                            </div>
                        </p>
                    }
                </center>
              
                <table class="table" id="zingerTable">
                   <!-- 
                     <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZingerMessage)
            </th>
            <th>
                
               <img src="@Html.DisplayNameFor(model => model.ZingerImage)" alt="Image" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZingerUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpVote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownVote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
            <th></th>
        </tr>
                    -->
                    @foreach (var item in Model)
                    {
          
                        var imgsrc = item.ZingerImage;
                      

                        <tr>
                            <td>

                                <div class="well" id="zingerWells">
                                    <span><h1>@Html.DisplayFor(modelItem => item.AreaCode): @if (!String.IsNullOrEmpty(imgsrc)) { <img src="@imgsrc" style="width:300px; height:300px" /> } @Html.DisplayFor(modelItem => item.ZingerMessage)</h1></span><span>@Html.DisplayFor(modelItem => item.TimeCreated)</span>
                                    <br />
                                    <span>Genre: @Html.DisplayFor(modelItem => item.Genre)</span>
                                    <br />
                                    <span>
                                        User: @Html.DisplayFor(modelItem => item.ZingerUserName)
                                    </span>
                                    <br />
                                    <span>
                                        
                                            <button type="button" class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:#8000FF">@Html.DisplayFor(modelItem => item.UpVote)</button>

                                        <button type="button" class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color:#8000FF">@Html.DisplayFor(modelItem => item.DownVote)</button>
                                       
                                    </span>


                                    <!--    @Html.ActionLink("Edit", "Edit", new { id = item.ZingerID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ZingerID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ZingerID })
                        -->
@Html.ActionLink("Delete", "Delete", new { id = item.ZingerID })
                                </div>
                                
                            </td>
                        </tr>
                    }

                </table>
                </div>
            </div>
        </div>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#myCarousel").carousel();
    });

    $('#areaCodeModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })


    $("#allCodes").click(function ()
    {
        $("#areaCode").val("");
    });

  
</script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        $("#zingerTable").DataTable();
    })
</script>
