@model IEnumerable<thatsmyareacode.Models.Zinger>

@{
    ViewBag.Title = "That's My Area Code!";
}

<div class="jumbotron">
    <h1>That's My Area Code!</h1>
</div>

<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/Content/App_LocalResources/carouselOne.jpg" alt="0">
        </div>
        <div class="item">
            <img src="/Content/App_LocalResources/courtwithwords.jpg" alt="1">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>

        <div class="item">
            <img src="/Content/App_LocalResources/carouselThree.jpg" alt="2">
            <div class="carousel-caption">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>



    <div class="row">
        <div class="col-md-2">
            <div class="sidebar-module sidebar-module-inset">
                <div class="well">
                    <h3>Genres:</h3>
                    <button class="btn btn-default">News</button><br/>
                    <button class="btn btn-default">Sports</button><br/>
                    <button class="btn btn-default">Humor</button><br/>
                    <button class="btn btn-default">Random</button><br/>
                    <button class="btn btn-default">Romance</button><br/>
                    <button class="btn btn-default">Popular</button><br/>

                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="well">
                <p>
                    <button type="button" class="btn btn-success"> @Html.ActionLink("Create New", "Create")</button>

                    @using (Html.BeginForm())
                    {
                    <p>
                        Genre: @Html.DropDownList("zingerGenre", "All")

                        User Name: @Html.TextBox("SearchString")
                        <input type="submit" value="Filter" />

                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#areaCodeModal">Change Area Code</button>
                        <div class="modal fade" id="areaCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Travelling is Fun...</h4>
                                    </div>
                                    <div class="modal-body">
                                        Area Code: @Html.TextBox("zingerAreaCode")
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Go There!" class="btn btn-success"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                    }
              
                  <!-- <table class="table">--> 
                       <!-- <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ZingerMessage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ZingerImage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ZingerUserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AreaCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpVote)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DownVote)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Favorite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TimeCreated)
                            </th>
                            <th></th>
                        </tr>-->

                        @foreach (var item in Model)
                        {
                            <div class="well" id="#zingerWells">
                                <span><h3>@Html.DisplayFor(modelItem => item.AreaCode): @Html.DisplayFor(modelItem => item.ZingerImage) @Html.DisplayFor(modelItem => item.ZingerMessage)</h3></span><span>@Html.DisplayFor(modelItem => item.TimeCreated)</span>
                                <br />
                                <span>Genre: @Html.DisplayFor(modelItem => item.Genre)</span>     
                                <br />
                                <span>
                                   User: @Html.DisplayFor(modelItem => item.ZingerUserName)
                                </span>
                                <br />
                                <span>
                                    <div id="#opinionBtns" style="color:purple;">
                                    <button type="button" class="glyphicon glyphicon-thumbs-up" aria-hidden="true">@Html.DisplayFor(modelItem => item.UpVote)</button>

                                    <button type="button" class="glyphicon glyphicon-thumbs-down" aria-hidden="true">@Html.DisplayFor(modelItem => item.DownVote)</button>

                                    <button type="button" class="glyphicon glyphicon-star-empty" aria-hidden="true">@Html.DisplayFor(modelItem => item.Favorite)</button>
                                    </div>
                                 </span>
                                      
                                   
                                    <!--    @Html.ActionLink("Edit", "Edit", new { id = item.ZingerID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ZingerID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ZingerID })
                                -->

                            </div>
                        }

  
                </div>
            </div>
        </div>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myCarousel").carousel();
    });
    $('#areaCodeModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>
